
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#chat1 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/bg6.png");
    background-size: 100%;
    height: 100%;
}
#chat2{
  background-color: #373a3f;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
    height: 100%;
}

/* Style the top navigation bar */
.head {
  overflow: hidden;
  background-color: #202427;
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 100;
  top: 0;
}
.head1 {
  display: flex;
  justify-content: center;
  color:#d7b45b;
  align-items: center;
  text-align: center;
  border-top: black solid;
  overflow: hidden;
  background-color: #202427;
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 100;
  top: 0px;
}
.head1 h2,.head1 h4,.head1 img{
  margin-right: 20px;
}
/* Style the head links */
.head-a a {
  width: 33.3%;
  float: left;
  padding: 15px 30px;
  display: block;
  color: #57585a;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  
}
.head-a svg ,.head-a img,.head1 img{
  width: 45px;
  height: 45px;
  margin-top: 5px;
}
.head-a h3 {
  padding: 5px;
}
.contants{
  padding: 30px;
}
.contants div img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #d7b45b;
}
.main_img{
    border-radius: 0px!important;
    height: 280px!important;
    border: 0px!important;
}
.contants > div {
  text-align: center;
  width: 25%;
  float: left;
  margin: 30px 0;
}
.contants h4{
    padding: 10px;
}

.contants > div .contants-text-bg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 90%;
  background-image: linear-gradient(to right,#e6c46b , rgb(179, 140, 67));
  background-color: rgba(232, 198, 109, 0.8);
  border-radius: 40px;
  margin: auto;
  position: relative;
  bottom: 20px;
} 
.contants > div .contants-text-bg h4 {
  /*background-color: rgba(232, 198, 109, 0.8);*/
  /*border-radius: 20px;*/
  }
/* Change color on hover */


/* Style the content */
.space {
  height: 50px;
}
.footer{
  width: 100%;
  height: 50px;
}
/* Style the footer */
.footer_body {
    right: 0;
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #202427; 
    height: 50px;
   
}
.footer_container{
    margin: auto;
    width: 70%;
     color: rgb(255, 255, 255);
}
.footer_container div {
    text-align: center;
    float: left;
    width: 33.3%;
}
.svgs{
    padding-top: 10px;
    width: 40px;
    height: 40px;
}
.svg_first{
    width: 30px;
    height: 30px;
}
.svg_first:hover{
    width: 35px;
  transition: .5s;
}
.svg_text{
    fill:#57585a;
}
.footer_container div:hover .svg_text{
    fill:#e6c46b;
  transition: .5s;
}
.footer_container div:hover .svgs{
    padding-top: 5px;
    width: 50px;
    height: 50px;
  transition: .5s;
}



@media screen and (max-width: 1025px) {
  .head {
    position: relative;
    z-index: 100;
  }
  .head-logo span {
    left: 5px;
  }
  .contants div img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 5px solid #d7b45b;
  }
  .contants > div {
    width: 25%;
  }
  .main_img{
    border-radius: 0px!important;
    height: 230px!important;
    border: 0px!important;
}
  .contants > div .contants-text-bg{
    position: relative;
    bottom: 20px;
    width: 200px;
  }
  .contants > div .contants-text-bg h4 {
    bottom: 0;
  }
}


@media screen and (max-width: 769px) {
  .head-logo {
    padding: 15px;
  }
  .bu_pa{
    padding: 14px;
    margin-left: 0px;
  }
  li a {
    padding: 14px 5px;
  }
  .head {
    position: relative;
    z-index: 100;
  }
  .head-logo span {
    left: 5px;
  }
  .contants div img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px solid #d7b45b;
  }
  .contants > div {
    width: 33.3%;
  }
  .main_img{
    border-radius: 0px!important;
    height: 180px!important;
    border: 0px!important;
}
  .contants > div .contants-text-bg{
    position: relative;
    bottom: 20px;
    width: 150px;
  }
  .contants > div .contants-text-bg h4 {
    bottom: 0;
  }
  .bu_pa{
    padding: 14px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 426px) {
  .head-logo {
    padding: 10px;
  }
  .bu_pa{
    padding: 14px;
    margin-left: 0px;
  }
  li a {
    padding: 5px 5px;
  }
  .head {
    position: relative;
    z-index: 100;
  }
  .head-logo span {
    left: 5px;
  }
  .head-a a{
    font-size: 13px;
    padding-right: 0;
    padding-left: 0; 
  }
.contants div img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px solid #d7b45b;
  }
  .contants > div {
    width: 50%;
  }
  .main_img{
    border-radius: 0px!important;
    height: 180px!important;
    border: 0px!important;
}
  .contants > div .contants-text-bg{
    position: relative;
    bottom: 50px;
    width: 150px;
    margin: auto;
  }
  .contants > div .contants-text-bg h4 {
    /*position: absolute;*/
    bottom: 0;
  }
}

