
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
font{
  font-size: 30px;
}
#chat1 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/bg6.png");
    background-size: 100%;
    height: 100%;
}
#chat2{
  background-color: #373a3f;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
    height: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li :hover{
  background-color: #161512;
  color: #e6c46b;
  border-bottom-color: #e8c66d;
  text-decoration: none;
  transition: .5s;
}
#li_img{
  float: left;
}
.bu_pa{
  padding: 14px;
  margin-left: 50px;
}
ul img{
  padding: 5px;
  width: 50px;
  height: 50px;
}
.head-logo {
  background-color: #e8c66d;
  padding: 15px;
}
.head-logo span {
  position: absolute;
}
/* Style the top navigation bar */
.head {
  overflow: hidden;
  background-color: #202427;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}
.dropdown{
  display: none;
}
/* Style the head links */
.head-a a {
  width: 33.3%;
  float: left;
  padding: 15px 30px;
  display: block;
  color: #57585a;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.head-a a:hover {
  /*background-color: rgb(0, 0, 0);*/
  color: #e8c66d;
  border-bottom-color: #e8c66d;
  transition: .5s;
}
.contants{
  padding: 30px;
}
.contants div img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #d7b45b;
}
.main_img{
    border-radius: 0px!important;
    height: 280px!important;
    border: 0px!important;
}
.contants > div {
  text-align: center;
  width: 25%;
  float: left;
  margin: 30px 0;
}
.contants h4{
    padding: 10px;
}

.contants > div .contants-text-bg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70%;
  opacity: 90%;
  background-image: linear-gradient(to right,#e6c46b , rgb(179, 140, 67));
  background-color: rgba(232, 198, 109, 0.8);
  border-radius: 40px;
  margin: auto;
  position: relative;
  bottom: 20px;
  padding: 5px;
} 
.contants > div .contants-text-bg h4 {
  /*background-color: rgba(232, 198, 109, 0.8);*/
  /*border-radius: 20px;*/
  }
/* Change color on hover */


/* Style the content */
.space {
  height: 50px;
}
.footer{
  width: 100%;
  height: 50px;
}
/* Style the footer */
.footer_body {
    right: 0;
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #202427; 
    height: 50px;
   
}
.footer_container{
    margin: auto;
    width: 70%;
     color: rgb(255, 255, 255);
}
.footer_container div {
    text-align: center;
    float: left;
    width: 33.3%;
}
.svgs{
    padding-top: 10px;
    width: 40px;
    height: 40px;
}
.svg_first{
    width: 30px;
    height: 30px;
}
.svg_first:hover{
    width: 35px;
  transition: .5s;
}
.svg_text{
    fill:#57585a;
}
.footer_container div:hover .svg_text{
    fill:#e6c46b;
  transition: .5s;
}
.footer_container div:hover .svgs{
    padding-top: 5px;
    width: 50px;
    height: 50px;
  transition: .5s;
}



@media screen and (max-width: 1025px) {
  font{
    font-size: 25px;
  }
  .head {
    position: fixed;
    z-index: 100;
  }
  .head-logo span {
    left: 5px;
  }
  .contants div img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 5px solid #d7b45b;
  }
  .contants > div {
    width: 25%;
  }
  .main_img{
    border-radius: 0px!important;
    height: 230px!important;
    border: 0px!important;
}
  .contants > div .contants-text-bg{
    position: relative;
    bottom: 20px;
    width: 200px;
  }
  .contants > div .contants-text-bg h4 {
    bottom: 0;
  }
}


@media screen and (max-width: 769px) {
  font{
    font-size: 20px;
  }
  .contants > div {
    text-align: center;
    width: 25%;
    float: left;
    margin: 20px 0;
  }
  .head-logo {
    padding: 15px;
  }
  .bu_pa{
    padding: 14px;
    margin-left: 0px;
  }
  li a {
    padding: 14px 5px;
  }
  .head {
    position: fixed;
    z-index: 100;
  }
  .head-logo span {
    left: 5px;
  }
  .contants div img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px solid #d7b45b;
  }
  .contants > div {
    width: 33.3%;
  }
  .main_img{
    border-radius: 0px!important;
    height: 180px!important;
    border: 0px!important;
}
  .contants > div .contants-text-bg{
    position: relative;
    bottom: 20px;
    width: 150px;
  }
  .contants > div .contants-text-bg h4 {
    bottom: 0;
  }
  .bu_pa{
    padding: 14px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 426px) {
  font{
    font-size: 15px;
  }
  .dropdown{
    display: block;
    position: fixed;
    right: 10px;
  }
  .dropdown-menu{
    background-color: #2e373a;
  }
  .dropdown-item{
    color: aliceblue;
  }
  .header{
    display: none;
  }
  .dropdown img{
    margin-top: -7px;
    height: 40px;
  }
  .contants > div {
    text-align: center;
    width: 25%;
    float: left;
    margin: 0px 0;
  }
  .head-logo {
    padding: 10px;
  }
  .bu_pa{
    padding: 14px;
    margin-left: 0px;
  }
  li a {
    padding: 14px 2px;
  }
  .head {
    position: fixed;
    z-index: 100;
  }
  .head-logo span {
    left: 5px;
  }
  .head-a a{
    font-size: 13px;
    padding-right: 0;
    padding-left: 0; 
  }
.contants div img{
      width: 140px;
      height: 140px;
      border-radius: 50%;
      border: 5px solid #d7b45b;
  }
  .contants > div {
    width: 50%;
  }
  .main_img{
    border-radius: 0px!important;
    height: 160px!important;
    border: 0px!important;
}
.contants {
  padding: 0px;
}
  .contants > div .contants-text-bg{
    position: relative;
    bottom: 20px;
    width: 145px;
    margin: auto;
  }
  .contants > div .contants-text-bg h4 {
    /*position: absolute;*/
    bottom: 0;
  }
}

